html
    head
        link(rel='stylesheet', href='/stylesheets/index.css')
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link( rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css")
        script(type="text/javascript", src="js/jquery-3.2.1.js")
        script(type="text/javascript", src="./js/index.js")
    body
        include ./fixed/header.pug

        if user
            p du er logget inn som: #{user.email}

        section.first
            a(href = "/newuser")
                button.button1(type="button" style='vertical-align:middle')
                    span Bli Medlem
            a.scroll-down1(href='#second', address='true')

        script.

            //Åpner modal 1
            iconBtn1.onclick = function() {
                modal1.style.display = "block";
            };

            //Åpner modal 2
            iconBtn2.onclick = function () {
                modal2.style.display = "block";
            };

            //Lukker når klikker utenfor
            window.onclick = function (event) {
                if(event.target == modal1 || event.target == modal2) {
                    modal1.style.display = "none";
                    modal2.style.display = "none"
                }
            };

        include ./fixed/footer.pug
