html
    head
        link(rel='stylesheet', href='/stylesheets/alertSuccess.css')
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        script(type="text/javascript", src="js/jquery-3.2.1.js")

    body
        .containerSuccess#success
            .modal-success
                div.success
                    i.successIcon(id="pin" class="fa fa-check-circle" style='font-size:120px')
                    p#text

        script.
            var modalSuccess = document.getElementById("alertBoxMember");
            document.getElementById("text").innerHTML = "Some text to enter";
            window.setTimeout(modalSuccess, 10000);
