html
    head
        link(rel='stylesheet', href='/stylesheets/booking.css')
        script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js")
    body
        include ./fixed/header.pug

        if user
            p du er logget inn som: #{user.email}


        a.nextDay()
        pre#theDate
        a.pastDay()

        script.
            var thisDate = document.getElementById("theDate");
            thisDate.innerHTML = Date.today().toString("dd/MM/yyyy");


            //var tomorrow = Date.today().addDays(1).toString("dd/mm/yyyy");

            //document.write(today);
            //document.write(tomorrow);

        include ./fixed/footer.pug
