html
    head
        link(rel='stylesheet', href='/stylesheets/booking.css')
        script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js")
        script(type="text/javascript", src="js/jquery-3.2.1.js")
    body
        include ./fixed/header.pug

        if user
            p du er logget inn som: #{user.email}


        a.nextDay()
        pre#theDate
        a.pastDay()
        .container#bookClasses
            pre#json

        script.
            var thisDate = document.getElementById("theDate");
            thisDate.innerHTML = Date.today().toString("yyyy-MM-dd");
            var date = Date.today().toString("yyyy-MM-dd");

            /*var output=document.getElementById("bookClasses");
            output.innerHTML = thisDate.value;*/


            //var tomorrow = Date.today().addDays(1).toString("dd/mm/yyyy");

            //document.write(today);
            //document.write(tomorrow);


            var getClassesForBooking = function (date) {
                console.log("test");
                $.ajax({
                    url: 'booking/' + date,
                    type: 'GET'
                    /*data: {
                        'theDate': theDate
                    }*/
                }).done(function (data) {
                    console.log(data);
                    document.getElementById("json").innerHTML = ' ';
                    for (var i = 0; i < data.length; i++){
                        document.getElementById("json").innerHTML += JSON.stringify(data, null, 2);
                    }
                })
            };

            getClassesForBooking(date);

        include ./fixed/footer.pug
