html
    head
        link(rel='stylesheet', href='/stylesheets/booking.css')
        script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js")
        script(type="text/javascript", src="js/jquery-3.2.1.js")
    body
        include ./fixed/header.pug

        if user
            p du er logget inn som: #{user.email}


        p.nextDay(onclick="getNextDay()")
        #showDate
        p.pastDay(onclick="getPastDay()")

        .container#bookClasses
            pre#json

        script.
            var thisDate = document.getElementById("showDate");
            thisDate.innerHTML = Date.today().toString("dd-MM-yyyy");
            var today = Date.today();
            var date = Date.today().toString("yyyy-MM-dd");

            var op = 0;
            var compareDate = "";

            var getNextDay = function() {
                if(op <= 6) {
                    thisDate.innerHTML = Date.today().addDays(op+1).toString("dd-MM-yyyy");
                    op++;
                }
            }

            var getPastDay = function () {
                compareDate = Date.today().addDays(op - 1);
                var compareRes = today.compareTo(compareDate);
                console.log("Sammenligningsdato: " + compareDate);
                console.log("ResTall: " + compareRes);
                if(op >= -6 && compareRes < 1) {
                    thisDate.innerHTML = Date.today().addDays(op-1).toString("dd-MM-yyyy");
                    op--;
                }
            }


            var getClassesForBooking = function (date) {
                $.ajax({
                    url: 'booking/' + date,
                    type: 'GET'
                }).done(function (data) {
                    console.log(data);
                    document.getElementById("json").innerHTML = ' ';
                    for (var i = 0; i < data.length; i++){
                        document.getElementById("json").innerHTML += '<div id="json1" >' + JSON.stringify(data[i].time + " " + data[i].b_name).replace(/\"/g, "")
                            + '<button type="button" id="button" onclick="myFunction()">Book</button>' + '</div>';
                    }
                })
            };

            getClassesForBooking(date);

            function myFunction() {
                alert("Booking utført");
                document.getElementById("button").onclick = this.disabled;
            }
    include ./fixed/footer.pug
