html
    head
        title Intensitet
        link(rel='stylesheet', href='/stylesheets/classes.css')
        script(type="text/javascript", src="js/jquery-3.2.1.js")
        //script(type="text/javascript", src="js/classes.js")
    body
        h1 Intensitet
        #slidecontainer
            input(type="range", min="1", max="3", value="1", id="myRange", class="slider")
            p Nivå <em> </em>
                span#demo

            table
                th Gruppetimer
            //.container#timer
                pre#allClasses

            .container
                img.yogapic(src="./images/yoga.jpg", alt="Yoga")
                h4.thisClass#0
                .overlay
                    .text#1


            // .cards
                .card
                    img(src="http://www.stonystratford.gov.uk/upload/managerImage/Community%20Groups/Whitespace%20Yoga.jpg")
                    h2
                    p.thisClass#0


        script.

            var slider = document.getElementById("myRange");
            var output = document.getElementById("demo");
            output.innerHTML = slider.value;

            var startLevel = slider.value;
            var info;

            var getLevel = function (level) {
                $.ajax({
                    url: 'classes/' + level,
                    type: 'GET'
                }).done(function(data) {
                    info = data;
                    document.getElementById("allClasses").innerHTML = '';
                    for (var i = 0; i < data.length; i++) {
                        document.getElementById("allClasses").innerHTML += '<ul id="' + i + '" class="thisClass">'
                            + JSON.stringify(data[i].class_name).replace(/\"/g, "") + '</ul>';

                    }/*
                    buttons = document.getElementsByClassName("thisClass");
                    for (var i = 0; i < buttons.length; i++) {
                        buttons[i].addEventListener("click", redirect, false);
                    }*/
                });

            };

            slider.oninput = function () {
                output.innerHTML = this.value;
                var level = this.value;
                getLevel(level);
            }

            getLevel(startLevel);



            function redirect(ev){
                console.log("redirect");
                var index = ev.target.id;
                ev.target.innerHTML = info[index].information;
            }
