html
    head
        title EditUser
        link(rel='stylesheet', href='/stylesheets/editUser.css')
        script(type="text/javascript", src="js/jquery-3.2.1.js")
        script(type="text/javascript", src="js/editUser.js")
    body
        include ./fixed/header.pug
        if user
            du er logget inn som: #{user.email}

        .downloadLinks
            a(href="./documents/TreningHelkropp.pdf" TreningHelkropp) Treningsprogramm - Helkropp
            a(href="./documents/TreningMRL.pdf" TreningsMRL) Treningsprogramm - MRL (Mage, rumpe og lår)
            a(href="./documents/TreningNybegynner.pdf" TreningNybegynner) Treningsprogramm - Nybegynner

        .content
            include ./fixed/footer.pug



