html
    head
        title EditUser
        script(type="text/javascript", src="js/jquery-3.2.1.js")
        script(type="text/javascript", src="js/editUser.js")
    body
        h1 Rediger profil
        div
            div
                label(for= "fornavn") Fornavn:
                input(id = "fornavn")
                br
            div
                label(for= "etternavn") Etternavn:
                input(id = "etternavn")
                br
            div
                label(for = "adresse") Adresse:
                input(id = "adresse" )
                br
            div
                label(for = "mobilnr") Telefonnummer:
                input(id = "mobilnr"  )
                br
            button(onclick="updateUser()") Oppdater profil

        h2 Endre passord

        form()
            div
                label(for = "gammeltPassord") Gammelt passord:
                input(id = "gammeltPassord", type="password" )
                br
            div
                label(for = "nyttPassord") Nytt passord:
                input(id = "nyttPassord" type="password"  )
                br
            button() Lagre passord


