html
    head
        title EditUser
        script(type="text/javascript", src="js/jquery-3.2.1.js")
        script(type="text/javascript", src="js/editUser.js")
    body
        h1 Rediger profil
        div
            div
                label(for= "fname") Fornavn:
                input(id = "fname")
                br
            div
                label(for= "sname") Etternavn:
                input(id = "sname")
                br
            div
                label(for = "address") Adresse:
                input(id = "address" )
                br
            div
                label(for = "phone") Telefonnummer:
                input(id = "phone"  )
                br
            button(onclick="updateUser()") Oppdater profil



