html
    head
        title EditUser
        link(rel='stylesheet', href='/stylesheets/editUser.css')
        script(type="text/javascript", src="js/jquery-3.2.1.js")
        script(type="text/javascript", src="js/editUser.js")
    body
        include ./fixed/header.pug

        .editInfo
            label
                b Fornavn:
            input(type = "text", id = "fname")

            label
                b Etternavn:
            input(type = "text", id = "sname")

            label
                b Adresse:
            input(type = "text", id = "address")

            label
                b Telefonnummer:
            input(type = "text", id = "phone")

            button(onclick="updateUser()", type="button") Oppdater profil

        .content
            include ./fixed/footer.pug



