html
    head
        title EditUser
        link(rel='stylesheet', href='/stylesheets/editUser.css')
        script(type="text/javascript", src="js/jquery-3.2.1.js")
        script(type="text/javascript", src="js/editUser.js")
    body
        include ./fixed/header.pug
        if user
            du er logget inn som: #{user.email}

        .editInfo
            div
                label
                    b Fornavn:
                    br
                input(type = "text", id = "fname")
            div
                label
                    b Etternavn:
                    br
                input(type = "text", id = "sname")

            div
                label
                    b Adresse:
                    br
                input(type = "text", id = "address")
            div
                label
                    b Telefonnummer:
                    br
                input(type = "text", id = "phone")

            button(onclick="updateUser()", type="button") Oppdater profil

            a(href='/editPassword') Endre passord

        .content
            include ./fixed/footer.pug



