html
    head
        title EditUser
        link(rel='stylesheet', href='/stylesheets/editPassword.css')
        script(type="text/javascript", src="js/jquery-3.2.1.js")
        script(type="text/javascript", src="js/editPassword.js")
    body
        .header
            include ./fixed/header.pug
        .editPassword
            div
                label(for = "oldPassword") Skriv inn ditt gammle passord:
                input(id = "oldPassword", type="password", required='')
                br

            div
                label(for = "newPassword1") Skriv inn nytt passord:
                input(id = "newPassword1" type="password", required='')
                br
            div
                label(for = "newPassword2") Skriv ditt nye passord på ny:
                input(id = "newPassword2" type="password", required='')
                br
            button(onclick='updatePassword()' type="button") Lagre passord!

        .content
            include ./fixed/footer.pug