html
    head
        title EditUser
        script(type="text/javascript", src="js/jquery-3.2.1.js")
        script(type="text/javascript", src="js/editUser.js")
    body
        h1 Endre passord

            form()
                div
                    label(for = "gammeltPassord") Gammelt passord:
                    input(id = "gammeltPassord", type="password")
                    br
                div
                    label(for = "nyttPassord") Nytt passord:
                    input(id = "nyttPassord" type="password")
                    br
            button(type='submit') Endre passord