html
    head
        link(rel='stylesheet', href='/stylesheets/index.css')
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link( rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css")
        script(type="text/javascript", src="js/jquery-3.2.1.js")
        script(type="text/javascript", src="./js/index.js")
        script(type="text/javascript", src="./js/newUser.js")
    body
        include ./fixed/header.pug

        if user
            p du er logget inn som: #{user.email}

        section.first#main
            //a(href = "/newuser")
            button.button1#newBtn(type="button" style='vertical-align:middle')
                span Bli Medlem

            #modalNew.modalNew
                .modal-contentNew
                    div.containerNew
                        div
                            label
                                b Fornavn:
                                br
                            input(type = "text" id = "fname", required='')

                        div
                            label
                                b Etternavn:
                                br
                            input(type = "text" id = "sname", required='')

                        div
                            label
                                b Telefonnummer:
                                br
                            input(type = "text" id = "phone", required='')

                        div
                            label
                                b E-post:
                                br
                            input(type = "text" id = "email", required='')

                        div
                            label
                                b Adresse:
                                br
                            input(type = "text" id = "address", required='')

                        div
                            label
                                b Passord:
                                br
                            input(type = "password" id = "password", required='')

                        button(onclick="newMember()", type = "button") Registrer

            a.scroll-down1(href='#second', address='true')

        section.second
            a.scroll-down2(href='#third', address='true')

        section.third#gyms
            .h1SectionThree
                h1 Vår treningsfilosofi
            .gymInfo
                pre Lorem ipsum dolor sit amet,
                    |consectetuer adipiscing elit.
                    |Aenean commodo ligula eget dolor. Aenean massa.
                    |Cum sociis natoque penatibus et magnis dis parturient
                    |montes, nascetur ridiculus mus. Donec quam felis,
                    |ultricies nec, pellentesque eu, pretium quis, sem.
                    |Nulla consequat massa quis enim. Donec pede justo,
                    |fringilla vel, aliquet nec, vulputate eget, arcu.
                    |In enim justo, rhoncus ut, imperdiet a, venenatis
                    |vitae, justo. Nullam dictum felis eu pede mollis pretium.
                    |Integer tincidunt. Cras dapibus. Vivamus elementum
                    |semper nisi. Aenean vulputate eleifend tellus. Aenean leo
                    |ligula, porttitor eu, consequat vitae, eleifend ac, enim.

            .gymMap
                img.map(src="./images/kart.png", alt="Kart over Trondheim")
                i(id="gym1Btn" class="fa fa-map-marker" style='font-size:50px')
                i(id="gym2Btn" class="fa fa-map-marker" style='font-size:50px')
            #modalGym1.modalGym1
                .modal-contentGym
                    h3 Atleta Midtbyen
                    img.gym1(src="./images/gym1.jpg", alt="Bilde av treningssenteret", style="width:100%")
                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    p Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                    p montes, nascetur ridiculus mus. Donec quam felis,

            #modalGym2.modalGym2
                .modal-contentGym
                    h3 Atleta Ilsvika
                    img.gym1(src="./images/gym1.jpg", alt="Bilde av treningssenteret", style="width:100%")
                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    p Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                    p montes, nascetur ridiculus mus. Donec quam felis,

            a.scroll-down3(href='#forth', address='true')

        script.
            var modal1 = document.getElementById("modalGym1");
            var modal2 = document.getElementById("modalGym2");

            var iconBtn1 = document.getElementById("gym1Btn");
            var iconBtn2 = document.getElementById("gym2Btn");

            var newUserBtn = document.getElementById("newBtn");
            var newUserPop = document.getElementById("modalNew");

            //Åpner modal 1
            iconBtn1.onclick = function() {
                modal1.style.display = "block";
            };

            //Åpner modal 2
            iconBtn2.onclick = function() {
                modal2.style.display = "block";
            };

            //Lukker når klikker utenfor
            window.onclick = function (event) {
                if(event.target == modal1 || event.target == modal2 || event.target == newUserPop) {
                    modal1.style.display = "none";
                    modal2.style.display = "none";
                    newUserPop.style.display = "none";
                }
            };

            // åpner bli medlem
            newUserBtn.onclick = function () {
                newUserPop.style.display = "block";
            }


    include ./fixed/footer.pug
