html
    title Hello
    h1 Logg inn her:
    label
        b Username
    input(type='text', placeholder='Enter Username', name='uname', required='')
    label
        b Password
    input(type='password', placeholder='Enter Password', name='psw', required='')
    button(type='submit') Login


