html
    head
        link(rel='stylesheet', href='/stylesheets/index.css')
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        script(type="text/javascript", src="js/jquery-3.2.1.js")
        script(type="text/javascript", src="./js/index.js")
    body
        include ./fixed/header.pug

        if user
            du er logget inn som: #{user.email}

        section.first
            a(href = "/newuser")
                button.button1(type="button" style='vertical-align:middle')
                    span Bli Medlem
            a.scroll-down1(href='#second', address='true')
        section.second
            p.p1 Kategorier
            a.scroll-down2(href='#third', address='true')
        section.third
            div.box()
            img.map(src="./images/kart.png", alt="Kart over Trondheim")
            i(id="center1" class="fa fa-map-marker" style='font-size:50px')
            i(id="center2" class="fa fa-map-marker" style='font-size:50px')
            a.scroll-down3(href='#forth', address='true')
        include ./fixed/footer.pug
