html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')

        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css")
        link(rel='stylesheet', href='/stylesheets/userPage.css')
        link(rel='stylesheet', href='/stylesheets/index.css')
        link(rel='stylesheet', href='/stylesheets/alertSuccess.css')

        script(type="text/javascript", src="js/jquery-3.2.1.js")
        script(type="text/javascript" src="https://www.gstatic.com/charts/loader.js")
        script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js")


    body
        include ./fixed/header.pug


        //SEKSJON 1
        if user
            section.first#mainLogedIn
                #mainLogedIn
                //Statistikk
                div#statistics
                    .statistic#chart_div

                //Endre info - knapp
                .endreInfoBtn#editInfo
                    h3 Endre Bruker

                //treningsprogram - knapp
                .workoutProgBtn#woProg
                    h3 Treningsprogram

                .reservationBtn#reserv
                    h3 Mine bookinger

                //Endre info - popup
                #editInfoBox.modal-editInfo
                    .modal-contentInfo
                        div.containerInfo
                            a.closeBtn#closePop &times
                            h1 ENDRE BRUKER
                            div
                                label
                                    b Fornavn
                                    br
                                input(type = "text", id = "fname")
                            div
                                label
                                    b Etternavn
                                    br
                                input(type = "text", id = "sname")
                            div
                                label
                                    b Adresse
                                    br
                                input(type = "text", id = "address")
                            div
                                label
                                    b Telefonnummer
                                    br
                                input(type = "text", id = "phone")

                            .updateBtn#updateUsr Oppdater profil
                                //(onclick="updateUser()", type="button")
                            .editPswBtn#editPsw Endre Passord
                            //a.editPswBtn(href="/editPassword") Endre Passord
                        #editPswBox.modal-editPsw
                            .modal-contentPsw
                                div.containerPsw
                                    a.closeBtn#closePsw &times
                                    h1 ENDRE PASSORD
                                    div
                                        label(for = "oldPassword") Gammelt passord
                                        input(id = "oldPassword", type="password", required='')
                                        br

                                    div
                                        label(for = "newPassword1") Nytt passord
                                        input(id = "newPassword1" type="password", required='')
                                        br
                                    div
                                        label(for = "newPassword2") Bekreft nytt passord
                                        input(id = "newPassword2" type="password", required='')
                                        br
                                    button.savePsw(onclick='updatePassword()' type="button") Lagre nytt passord


                #workoutProgBox.modal-woProg
                    .modal-content-woProg
                        a.closeBtn#closePop2 &times
                        h1 TRENINGSPROGRAM
                        a.prog1(href="./documents/TreningHelkropp.pdf" TreningHelkropp) Treningsprogram - Helkropp
                        a.prog2(href="./documents/TreningMRL.pdf" TreningsMRL) Treningsprogram - MRL (Mage, rumpe og lår)
                        a.prog3(href="./documents/TreningNybegynner.pdf" TreningNybegynner) Treningsprogram - Nybegynner


                #myBookingsBox.modal-reserv
                    .modal-content-reserv
                        a.closeBtn#closePopRes &times
                        h1 MINE BOOKINGER
                        .myReservations
                            .container#reservations
                                pre#oneReservation


                a.scroll-down1(href='#second', address='true')

        else
            section.first#main
                button.newUserBtn#newBtn(type="button" style='vertical-align:middle')
                    span Bli Medlem

                #modalNew.modalNew
                    .modal-contentNew
                        .h1NewUser
                            h1 Bli Medlem
                        .containerNew
                            a.closeBtn#closeNew &times
                            form(action="/newUser" id = "form" method = "POST")
                                div
                                    input(type = "text" id = "fname" name='fname' required pattern="^[A-ÆØÅa-æøå -]+$" title="Fornavn kan ikke inneholde tall" placeholder="Fornavn:")

                                div
                                    input(type = "text" id = "sname" name='sname' required pattern="[A-ÆØÅa-æøå]+[a-æøåA-ÆØÅ]" title="Etternavn kan ikke inneholde tall" placeholder="Etternavn:")

                                div
                                    input(type = "text" id = "phone" name='phone' required pattern="[0-9].{7,}" title="Telefonnummer må bestå av minst 8 tall" placeholder="Telefonnummer:")

                                div
                                    input(type = "text" id = "email" name='email' required pattern="[A-ÆØÅa-æøå0-9._%+-]+@[A-ÆØÅa-æøå0-9.-]+[A-ÆØÅa-æøå]{1,63}$" title="Ugyldig E-postadresse" placeholder="E-postadresse:")

                                div
                                    input(type = "text" id = "address" name='address' placeholder="Adresse:")

                                div
                                    input(type = "password" id = "password" name='password' required pattern=".{8,}" title="Passord må inneholde minst 8 tegn" placeholder="Passord:")

                                button.registerBtn(type = "submit", value="submit", style="vertical-align:middle")
                                    span Registrer
                        #alertSuccess.modal-success
                            .modal-contentSuccess
                                div.containerSuccess
                                    i.successIcon(id="pin" class="fa fa-check-circle" style='font-size:120px')
                                    p#textSuccessMember

                a.scroll-down1(href='#second', address='true')


        //SEKSJON 2
        section.second#groupclasses
            .containerClasses
                h1.classesHeader Våre gruppetimer
                    p.intensitySlider Velg intensitet
                        input(type="range", min="1", max="3", value="1", id="myRange", class="slider")
                        brp.intensityLevel Nivå <em> </em>
                            span#demo
                    #slidecontainer
                        table
                        .class-container#timer
                            pre#allClasses
            a.scroll-down2(href='#gyms', address='true')


        //SEKSJON 3
        section.third#gyms
            .informationGyms
                .h1SectionThree
                    h1 Vår treningsfilosofi
                .gymInfo
                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    |Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                    |montes, nascetur ridiculus mus. Donec quam felis,
                    |ultricies nec, pellentesque eu, pretium quis, sem.
                    |Nulla consequat massa quis enim. Donec pede justo,
                    |fringilla vel, aliquet nec, vulputate eget, arcu.
                    |In enim justo, rhoncus ut, imperdiet a, venenatis
                    |vitae, justo. Nullam dictum felis eu pede mollis pretium.
                    |Integer tincidunt. Cras dapibus. Vivamus elementum
                    |semper nisi. Aenean vulputate eleifend tellus. Aenean leo
                    |ligula, porttitor eu, consequat vitae, eleifend ac, enim.
                    br
                    br
                    | Trykk på kartmarkøren for mer informasjon om hvert av våre sentere.

            .gymMap
                img.map(src="./images/kart.png", alt="Kart over Trondheim")
                i(id="gym1Btn" class="fa fa-map-marker" style='font-size:50px')
                i(id="gym2Btn" class="fa fa-map-marker" style='font-size:50px')

            #modalGym1.modalGym1
                .modal-contentGym
                    a.closeBtnGym#closeGym1 &times
                    img.gym1(src="./images/gym1.jpg", alt="Bilde av treningssenteret", style="width:100%")
                    h3 ATLETA MIDTBYEN
                    hr
                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    p Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                    p montes, nascetur ridiculus mus.

            #modalGym2.modalGym2
                .modal-contentGym
                    a.closeBtnGym#closeGym2 &times
                    img.gym1(src="./images/gym1.jpg", alt="Bilde av treningssenteret", style="width:100%")
                    h3 ATLETA ILSVIKA
                    hr
                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    p Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                    p montes, nascetur ridiculus mus.

            a.scroll-down3(href='#information', address='true')



            //SEKSJON 4
        section.fourth#information
            .infoPrice
                .h1sectionFour
                    h1 Priser
                .prices
                    h3 Ordinært medslemskap
                        p 349,- per måned

                    h3 Studentmedlemskap
                        p 249,- per måned

                    h3 Ungdomsmedemskap
                        p 199,- per måned

                    h3 Offshoremedlemskap
                        p 249,- per måned

                    h3 Drop-in
                        p 75,- for en dag

            a.scroll-down4(href='#PTinformation', address='true')



        //SEKSJON 5
        section.fifth#PTinformation
            h1 Hva er en PT?
            img.backgroundPT(src="./images/background5.jpg", alt="Bakgrunnsbilde")
            .aboutPT
                p Lorem ipsum dolor sit amet,
                | consectetuer adipiscing elit.
                | Aenean commodo ligula eget dolor. Aenean massa.
                | Cum sociis natoque penatibus et magnis dis parturient
                | montes, nascetur ridiculus mus. Donec quam felis,
                | ultricies nec, pellentesque eu, pretium quis, sem.
                | Nulla consequat massa quis enim. Donec pede justo,
                | fringilla vel, aliquet nec, vulputate eget, arcu.
                | In enim justo, rhoncus ut, imperdiet a, venenatis
                | vitae, justo. Nullam dictum felis eu pede mollis pretium.
                | Integer tincidunt. Cras dapibus. Vivamus elementum
                | semper nisi. Aenean vulputate eleifend tellus. Aenean leo
                | ligula, porttitor eu, consequat vitae, eleifend ac, enim.
            .containerTrainers1
                .containerPT1
                    img.avatarman1(src="./images/avatarman.png", alt="Mann")
                    .namePT1
                        h4 Ola Nordmann
                    .contactInfo1
                        div.pinIcon1
                            i.pinIcon1(class="fa fa-map-marker" style='font-size:15px')  Atleta Midtbyen
                        div.mailAddress1
                            i.mailIcon1(class="fa fa-envelope-o" style='font-size:15px')  ola_nordmann@atleta.no
                    i.moreIcon1(class="fa fa-ellipsis-v" style='font-size:20px')
                    .descriptionPT1
                        .textPT1 Ola Nordmann
                            br
                            | Lorem ipsum dolor sit amet,
                            br
                            | consectetuer adipiscing elit.

            .containerTrainers2
                .containerPT2
                    img.avatarman2(src="./images/avatarman.png", alt="Mann")
                    .namePT2
                        h4 Knut Knutsen
                    .contactInfo2
                        div.pinIcon2
                            i.pinIcon2(class="fa fa-map-marker" style='font-size:15px')  Atleta Ila
                        div.mailAddress2
                            i.mailIcon2(class="fa fa-envelope-o" style='font-size:15px')  knut_knutsen@atleta.no
                    i.moreIcon2(class="fa fa-ellipsis-v" style='font-size:20px')
                    .descriptionPT2
                        .textPT2 Knut Knutsen
                            br
                            | Lorem ipsum dolor sit amet,
                            br
                            | consectetuer adipiscing elit.

            .containerTrainers3
                .containerPT3
                    img.avatarman3(src="./images/avatarwoman.png", alt="Mann")
                    .namePT3
                        h4 Kari Åsen
                    .contactInfo3
                        div.pinIcon3
                            i.pinIcon3(class="fa fa-map-marker" style='font-size:15px')  Atleta Midtbyen
                        div.mailAddress3
                            i.mailIcon3(class="fa fa-envelope-o" style='font-size:15px')  ola_nordmann@atleta.no
                    i.moreIcon3(class="fa fa-ellipsis-v" style='font-size:20px')
                    .descriptionPT3
                        .textPT3 Kari Åsen
                            br
                            | Lorem ipsum dolor sit amet,
                            br
                            | consectetuer adipiscing elit.

            .containerTrainers4
                .containerPT4
                    img.avatarman4(src="./images/avatarwoman.png", alt="Mann")
                    .namePT4
                        h4 Nora Dalen
                    .contactInfo4
                        div.pinIcon4
                            i.pinIcon4(class="fa fa-map-marker" style='font-size:15px')  Atleta Ila
                        div.mailAddress4
                            i.mailIcon4(class="fa fa-envelope-o" style='font-size:15px')  knut_knutsen@atleta.no
                    i.moreIcon4(class="fa fa-ellipsis-v" style='font-size:20px')
                    .descriptionPT4
                        .textPT4 Nora Dalen
                            br
                            | Lorem ipsum dolor sit amet,
                            br
                            | consectetuer adipiscing elit.

                //a.scroll-down5(href='#sixth', address='true')


        //SEKSJON 6
        if user
            a.scroll-down5(href='#booking', address='true')
            section.sixth#booking
                .containerBooking
                    .bookingHeader
                        h1 Book en gruppetime
                    .theDates
                        span
                            p.nextDay(onclick="getNextDay()")
                            #showDate
                            p.pastDay(onclick="getPastDay()")

                    .container#bookClasses
                        pre#groupClass
        if user
            script
                include ../public/js/userPage.js
            script
                include ../public/js/statistic.js

            script
                include ../public/js/editPassword.js

            script
                include ../public/js/editUser.js
            script
                include ../public/js/myResarvations.js

            script
                include ../public/js/booking.js
        else
            script
                include ../public/js/newUser.js

        script
            include ../public/js/index.js

        script
            include ../public/js/classes.js

        script
            include ../public/js/gyms.js



    footer
        include ./fixed/footer.pug
