html
    head
        link(rel='stylesheet', href='/stylesheets/index.css')
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link( rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css")
        script(type="text/javascript", src="js/jquery-3.2.1.js")
        script(type="text/javascript", src="./js/index.js")
        script(type="text/javascript", src="./js/newUser.js")
    body
        include ./fixed/header.pug

        section.first#main
            //a(href = "/newuser")
            button.newUserBtn#newBtn(type="button" style='vertical-align:middle')
                span Bli Medlem

            #modalNew.modalNew
                .modal-contentNew
                    .h1NewUser
                        h1 Bli Medlem
                    .containerNew
                        div
                            input(type = "text" id = "fname", required='', placeholder="Fornavn:")
                        div
                            input(type = "text" id = "sname", required='', placeholder="Etternavn:")

                        div
                            input(type = "text" id = "phone", required='', placeholder="Telefonnummer:")

                        div
                            input(type = "text" id = "email", required='', placeholder="E-postadresse:")

                        div
                            input(type = "text" id = "address", required='', placeholder="Adresse:")

                        div
                            input(type = "password" id = "password", required='', placeholder="Passord:")

                        button.registerBtn(onclick="newMember()", type = "button", style="vertical-align:middle")
                            span Registrer

            a.scroll-down1(href='#second', address='true')

        section.second#groupclasses
            h1.classesH Våre gruppetimer
                p.intensitySlider Velg intensitet
                    input(type="range", min="1", max="3", value="1", id="myRange", class="slider")
                    brp.intensityLevel Nivå <em> </em>
                        span#demo
                    //p.intensityLevel Nivå <em> </em>
                        span#demo
                #slidecontainer
                    table
                    .class-container#timer
                        pre#allClasses

                    //.imgcontainerSpin
                        img.spinning(src='images/spinning.jpg', alt='Spinning')
                    //.imgcontainerDance
                        img.dans(src='images/dans.jpg', alt='Dans')
            a.scroll-down2(href='#third', address='true')

        section.third#gyms
            .h1SectionThree
                h1 Vår treningsfilosofi
            .gymInfo
                pre Lorem ipsum dolor sit amet,
                    |consectetuer adipiscing elit.
                    |Aenean commodo ligula eget dolor. Aenean massa.
                    |Cum sociis natoque penatibus et magnis dis parturient
                    |montes, nascetur ridiculus mus. Donec quam felis,
                    |ultricies nec, pellentesque eu, pretium quis, sem.
                    |Nulla consequat massa quis enim. Donec pede justo,
                    |fringilla vel, aliquet nec, vulputate eget, arcu.
                    |In enim justo, rhoncus ut, imperdiet a, venenatis
                    |vitae, justo. Nullam dictum felis eu pede mollis pretium.
                    |Integer tincidunt. Cras dapibus. Vivamus elementum
                    |semper nisi. Aenean vulputate eleifend tellus. Aenean leo
                    |ligula, porttitor eu, consequat vitae, eleifend ac, enim.

            .gymMap
                img.map(src="./images/kart.png", alt="Kart over Trondheim")
                i(id="gym1Btn" class="fa fa-map-marker" style='font-size:50px')
                i(id="gym2Btn" class="fa fa-map-marker" style='font-size:50px')
            #modalGym1.modalGym1
                .modal-contentGym
                    h3 Atleta Midtbyen
                    img.gym1(src="./images/gym1.jpg", alt="Bilde av treningssenteret", style="width:100%")
                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    p Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                    p montes, nascetur ridiculus mus. Donec quam felis,

            #modalGym2.modalGym2
                .modal-contentGym
                    h3 Atleta Ilsvika
                    img.gym1(src="./images/gym1.jpg", alt="Bilde av treningssenteret", style="width:100%")
                    p Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                    p Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
                    p montes, nascetur ridiculus mus. Donec quam felis,

            a.scroll-down3(href='#fourth', address='true')

        section.fourth#information
            .infoPrice
                .h1sectionFour
                    h1 Priser
                .prices
                    h3 Ordinært medslemskap
                        p 349,- per måned

                    h3 Studentmedlemskap
                        p 249,- per måned

                    h3 Ungdomsmedemskap
                        p 199,- per måned

                    h3 Offshoremedlemskap
                        p 249,- per måned

                    h3 Drop-in
                        p 75,- for en dag

                        p hei

            a.scroll-down4(href='#fifth', address='true')

        script.
            var modal1 = document.getElementById("modalGym1");
            var modal2 = document.getElementById("modalGym2");

            var iconBtn1 = document.getElementById("gym1Btn");
            var iconBtn2 = document.getElementById("gym2Btn");

            var newUserBtn = document.getElementById("newBtn");
            var newUserPop = document.getElementById("modalNew");

            //Åpner modal 1
            iconBtn1.onclick = function() {
                modal1.style.display = "block";
            };

            //Åpner modal 2
            iconBtn2.onclick = function() {
                modal2.style.display = "block";
            };

            //Lukker når klikker utenfor
            window.onclick = function (event) {
                if(event.target == modal1 || event.target == modal2 || event.target == newUserPop) {
                    modal1.style.display = "none";
                    modal2.style.display = "none";
                    newUserPop.style.display = "none";
                }
            };

            // åpner bli medlem
            newUserBtn.onclick = function () {
                newUserPop.style.display = "block";
            }

            // Slider
            var slider = document.getElementById("myRange");
            var output = document.getElementById("demo");
            output.innerHTML = slider.value;

            var startLevel = slider.value;
            var info;

            var getLevel = function (level) {
                $.ajax({
                    url: 'classes/' + level,
                    type: 'GET'
                }).done(function (data) {
                    info = data;
                    document.getElementById("allClasses").innerHTML = '';
                    for (var i = 0; i < data.length; i++) {
                        document.getElementById("allClasses").innerHTML += '<ul id="' + i + '" class="thisClass">'
                            + JSON.stringify(data[i].class_name).replace(/\"/g, "") + '</ul>';

                    }
                    buttons = document.getElementsByClassName("thisClass");
                    for (var i = 0; i < buttons.length; i++) {
                        buttons[i].addEventListener("click", redirect, false);
                    }
                });

            };

            slider.oninput = function () {
                output.innerHTML = this.value;
                var level = this.value;
                getLevel(level);
            }

            getLevel(startLevel);


            function redirect(ev) {
                console.log("redirect");
                var index = ev.target.id;
                ev.target.innerHTML = info[index].information;
            }

    footer
        include ./fixed/footer.pug
