html
    head
        link(rel='stylesheet', href='/stylesheets/index.css')
        script(type="text/javascript", src="js/jquery-3.2.1.js")
        script(type="text/javascript", src="./js/index.js")
    body
        include ./fixed/header.pug

        if user
            du er logget inn som: #{user.email}

        section.first
            a(href = "/newuser")
                button.button1(type="button" style='vertical-align:middle')
                    span Bli Medlem
            a.scroll-down1(href='#second', address='true')
        section.second
            p.p1 Kategorier
            a.scroll-down2(href='#third', address='true')
        section.third
            p.p2 Velkommen til en av våre sentre!
            div.box()
            img.map(src="./images/kart.png", alt="Kart over Trondheim")

        include ./fixed/footer.pug
