html
    head
        link(rel='stylesheet', href='/stylesheets/index.css')
    body
        p Hei
        a(href="login")
                button(type="button") Logn inn

        a(href = "newuser")
                button(type = "button") Bli medlem
