html
    head
        title Logg inn
    body
        form(action = "/login", method = "POST")
            div
                label(for = "email") E-post:
                input(name = "epost")
            br
            div
                label(for = "password") Passord:
                input(name = "passord")
            br
            button(type = "submit") Logg inn