html
    head
        title Form Tester
    body
        form(action = "/", method = "POST")
            div
                label(for = "epost") E-post:
                input(name = "epost")
            br
            div
                label(for = "passord") Passord:
                input(name = "passord")
            br
            button(type = "submit") Logg inn