html
    head
        title Logg inn
        link(rel='stylesheet', href='/stylesheets/login.css')
        script(type="text/javascript", src="js/jquery-3.2.1.js")
        script(type="text/javascript", src="js/login.js")
    body

        include fixed/header


