html
    head
        title Ny bruker
        link(rel='stylesheet', href='/stylesheets/newUser.css')
        script(type="text/javascript", src="js/jquery-3.2.1.js")
    body
        //include ./fixed/header.pug
        form(action = "/newuser", method = "POST")
            div
                label(for = "fname") Fornavn:
                input(name = "fname")
            br
            div
                label(for = "sname") Etternavn:
                input(name = "sname")
            br
            div
                label(for = "phone") Telefonnummer:
                input(name = "phone")
            br
            div
                label(for = "email") E-post:
                input(name = "email")
            br
            div
                label(for = "address") Adresse:
                input(name = "address")
            br
            div
                label(for = "password") Passord:
                input(name = "password")
            br
            button(type = "submit") Registrer

        .content
            include ./fixed/footer.pug