html
    head
        title Ny bruker
        link(rel='stylesheet', href='/stylesheets/newUser.css')
        script(type="text/javascript", src="js/jquery-3.2.1.js")
        script(type="text/javascript", src="js/newUser.js")
    body
        include ./fixed/header.pug
        form(action = "/newuser", method = "POST")

        .addUser
            div
                label
                    b Fornavn:
                    br
                input(type = "text", id = "fname")
            div
                label
                    b Etternavn:
                    br
                input(type = "text", id = "sname")
            div
                label
                    b Telefonnummer:
                    br
                input(type = "text", id = "phone")
            div
                label
                    b E-post:
                    br
                input(type = "text", id = "email")
            div
                label
                    b Adresse:
                    br
                input(type = "text", id = "address")
            div
                label
                    b Passord:
                    br
                input(type = "password", id = "password")
            //div
                label(for = "password") Passord:
                input(name = "password")
            br
            button(type = "submit") Registrer

        .content
            include ./fixed/footer.pug