html
    head
        title Ny bruker
        link(rel='stylesheet', href='/stylesheets/newUser.css')
        script(type="text/javascript", src="js/jquery-3.2.1.js")
        script(type="text/javascript", src="js/newUser.js")
    body
        include ./fixed/header.pug
        .memberInfo
            div
                label
                    b Fornavn:
                    br
                input(type = "text" id = "fname", required='')

            div
                label
                    b Etternavn:
                    br
                input(type = "text" id = "sname", required='')

            div
                label
                    b Telefonnummer:
                    br
                input(type = "text" id = "phone", required='')

            div
                label
                    b E-post:
                    br
                input(type = "text" id = "email", required='')

            div
                label
                    b Adresse:
                    br
                input(type = "text" id = "address", required='')

            div
                label
                    b Passord:
                    br
                input(type = "password" id = "password", required='')

            button(onclick="newMember()", type = "button") Registrer
            
            include ./fixed/footer.pug
            