html
    head
        link(rel='stylesheet', href='/stylesheets/booking.css')
        script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js")
        script(type="text/javascript", src="js/jquery-3.2.1.js")
    body
        include ./fixed/header.pug

        .backgroundPicture
            .containerBooking
                h1.bookingHeader Book en gruppetime
                .theDates
                    span
                        p.nextDay(onclick="getNextDay()")
                        #showDate
                        p.pastDay(onclick="getPastDay()")

                .container#bookClasses
                    pre#groupClass

        script.
            var thisDate = document.getElementById("showDate");
            thisDate.innerHTML = Date.today().toString("dd-MM-yyyy");
            var today = Date.today();
            var date = Date.today().toString("yyyy-MM-dd");

            var op = 0;
            var compareDate = "";
            var correctDate = "";

            var getNextDay = function() {
                if(op <= 6) {
                    correctDate = Date.today().addDays(op + 1).toString("yyyy-MM-dd");
                    getClassesForBooking(correctDate);
                    thisDate.innerHTML = Date.today().addDays(op+1).toString("dd-MM-yyyy");
                    op++;
                }
            }

            var getPastDay = function () {
                compareDate = Date.today().addDays(op - 1);
                var compareRes = today.compareTo(compareDate);
                console.log("Sammenligningsdato: " + compareDate);
                console.log("ResTall: " + compareRes);
                if(op >= -6 && compareRes < 1) {
                    correctDate = Date.today().addDays(op - 1).toString("yyyy-MM-dd");
                    getClassesForBooking(correctDate);
                    thisDate.innerHTML = Date.today().addDays(op-1).toString("dd-MM-yyyy");
                    op--;
                }
            }


            var getClassesForBooking = function (date) {
                $.ajax({
                    url: 'notLoggedInBooking/' + date,
                    type: 'GET'
                }).done(function (data) {
                    console.log(data.user);

                    document.getElementById("groupClass").innerHTML = ' ';
                    for (var i = 0; i < data.length; i++) {
                        document.getElementById("groupClass").innerHTML += '<div id="bookClass" >' + JSON.stringify("       " +
                            data[i].time + "                       " + data[i].b_name).replace(/\"/g, "");
                    }
                })
            };

            getClassesForBooking(date);


    include ./fixed/footer.pug
