html
    head
        title PT
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel='stylesheet', href='/stylesheets/pt.css')
        script(type="text/javascript", src="js/jquery-3.2.1.js")
        //script(type="text/javascript", src="js/editUser.js")
    body
        include ./fixed/header.pug

        .container
            img.avatarman(src="./images/man.png", alt="Mann")
            h4 Ola Nordmann
            div.position
                i.pinIcon(id="pin" class="fa fa-map-marker" style='font-size:15px')   Atleta Midtbyen
            div.mailAddress
                i.mailIcon(id="mail" class="fa fa-envelope-o" style='font-size:15px')    ola_nordmann@atleta.no
            i.moreIcon(id="more" class="fa fa-ellipsis-v" style='font-size:20px')
            .overlay
                .text 26 år gammel. Har jobbet her i 6 år.


        include ./fixed/footer.pug