html
    head
        title EditUser
        link(rel='stylesheet', href='/stylesheets/editUser.css')
        script(type="text/javascript", src="js/jquery-3.2.1.js")
        script(type="text/javascript", src="js/editUser.js")
    body
        include ./fixed/header.pug
            



        .content
            include ./fixed/footer.pug