html
    head
        title Min Side
        link(rel='stylesheet', href='/stylesheets/userPage.css')
        script(type="text/javascript", src="js/jquery-3.2.1.js")
        script(type="text/javascript", src="js/editUser.js")
        script(type="text/javascript" src="https://www.gstatic.com/charts/loader.js")
        script(type="text/javascript", src= "js/statistic.js")
    body
        include ./fixed/header.pug

         //Endre info - knapp
        .endreInfoBtn#editInfo
            h3 Endre Info

        //treningsprogram - knapp
        .workoutProgBtn#woProg
            h3 Treningsprogram

        //Endre info - popup
        #editInfoBox.modal-editInfo
            .modal-contentInfo
                div.containerInfo
                    div
                        label
                            b Fornavn:
                            br
                        input(type = "text", id = "fname")
                    div
                        label
                            b Etternavn:
                            br
                        input(type = "text", id = "sname")
                    div
                        label
                            b Adresse:
                            br
                        input(type = "text", id = "address")
                    div
                        label
                            b Telefonnummer:
                            br
                        input(type = "text", id = "phone")

                    .updateBtn(onclick="updateUser()", type="button") Oppdater profil
                    a.editPswBtn(href="/editPassword") Endre Passord


        #workoutProgBox.modal-woProg
            .modal-content-woProg
                h1 Treningsprogrammer til nedlastning:
                a(href="./documents/TreningHelkropp.pdf" TreningHelkropp) Treningsprogram - Helkropp
                a(href="./documents/TreningMRL.pdf" TreningsMRL) Treningsprogram - MRL (Mage, rumpe og lår)
                a(href="./documents/TreningNybegynner.pdf" TreningNybegynner) Treningsprogram - Nybegynner

        #chart_div


        script.

            //Endre info
            var endreInfoBtn = document.getElementById("editInfo");
            var editInfoPopup = document.getElementById("editInfoBox");

            //Treninsprogram
            var workoutProgBtn = document.getElementById("woProg");
            var woProgPopup = document.getElementById("workoutProgBox");


            // popup - endre info
            endreInfoBtn.onclick = function () {
                editInfoPopup.style.display = "block";
            }

            // popup - treningsprogram
            workoutProgBtn.onclick = function () {
                woProgPopup.style.display = "block";
            }

            window.onclick = function (event) {
                if (event.target == editInfoPopup || event.target == woProgPopup){
                    editInfoPopup.style.display = "none";
                    woProgPopup.style.display = "none";
                }
            }


        include ./fixed/footer.pug