body {
    background-color: #d8d8d8;
}

.nextDay {
    position: absolute;
    top: calc(20% - 8px);
    left: calc(50% + 100px);
    transform: rotate(-45deg);
    display: block;
    width: 15px;
    height: 15px;
    content: "";
    border: 1px solid black;
    border-width: 0px 4px 4px 0px;
}

.pastDay {
    position: absolute;
    top: calc(20% - 8px);
    left: calc(50% - 150px);
    transform: rotate(-45deg);
    display: block;
    width: 15px;
    height: 15px;
    content: "";
    border: 1px solid black;
    border-width: 4px 0px 0px 4px;
}

#showDate {
    color: black;
    font-size: 30px;
    position: absolute;
    top: calc(20% - 1px);
    left: calc(50% - 90px);
    cursor: default;
}

#bookClasses {
    width: 35%;
    margin-top: 20%;
    margin-left: 30%;
    text-align: left;
}

#json1 {
    font-family: Arial;
    border-collapse: collapse;
    width: 100%;
    padding: 20px;
    text-align: left;
    border: 1px solid black;
    cursor: pointer;
}

#button {
    margin-top: -2%;
    width: 40%;
    float: right;
}

#button:focus {
    background: red;
    opacity: 0.7;
}


