body {
    background-color: #d8d8d8;
    top: 33em;
}

.nextDay {
    position: absolute;
    top: 7em;
    left: calc(50% + 90px);
    transform: rotate(-45deg);
    display: block;
    width: 15px;
    height: 15px;
    content: "";
    border: 1px solid black;
    border-width: 0px 4px 4px 0px;
}

.pastDay {
    position: absolute;
    top: 7em;
    left: calc(50% - 150px);
    transform: rotate(-45deg);
    display: block;
    width: 15px;
    height: 15px;
    content: "";
    border: 1px solid black;
    border-width: 4px 0px 0px 4px;
}

#showDate {
    color: black;
    font-size: 30px;
    position: absolute;
    top: 4em;
    left: 19.6em;
    cursor: default;
}

#bookClasses {
    margin-top: 11em;
    margin-left: 21%;
    text-align: left;
    width: 50%;
}

#bookClass {
    top: 10em;
    font-family: Arial;
    margin: 0.7em;
    border-collapse: collapse;
    width: 100%;
    padding: 20px;
    text-align: left;
    background-color: #ededed;
    box-shadow: 4px 4px 4px #888888;
    cursor: pointer;
}

#bookClass:hover{
    box-shadow: 7px 7px 7px #888888;
}

#bookButton {
    background: #2d7a27;
    margin-top: -2%;
    width: 20%;
    float: right;
}


#bookButton:focus {
    outline: 0;
}
