body{
    background: url(https://media2.s-nbcnews.com/i/newscms/2017_36/2144546/170905-working-out-group-ac-512p_2b5db137b66bedb7f1d96c24b8ca1b8a.jpg) center center / cover no-repeat;

}

.backgroundPicture{
    /*background: url(https://media2.s-nbcnews.com/i/newscms/2017_36/2144546/170905-working-out-group-ac-512p_2b5db137b66bedb7f1d96c24b8ca1b8a.jpg) center center / cover no-repeat;*/
    padding: 5% 0 0 0;
}

h1.bookingHeader{
    margin-top: 12%;
    margin-left: 2%;
    opacity: 1;
}

.containerBooking{
    width: 35%;
    height: 80%;
    display: inline-block;
    border-radius: 10px;
    background: rgba(237, 237, 237, 0.9);
}

.theDates{
    margin-top: 5%;
}

.nextDay {
    margin-right: 2%;
    float: right;
    transform: rotate(-45deg);
    display: block;
    width: 15px;
    height: 15px;

    border: 1px solid black;
    border-width: 0px 4px 4px 0px;
}

.pastDay {
    margin-left: 2%;
    margin-top: -4%;
    float: left;
    transform: rotate(-45deg);
    display: block;
    width: 15px;
    height: 15px;

    border: 1px solid black;
    border-width: 4px 0px 0px 4px;
}

#showDate {
    text-align: center;
    color: black;
    font-size: 30px;
    left: 19.6em;
    cursor: default;
}

#bookClasses {
    text-align: left;
}

#bookClass {
    font-family: Arial;
    margin: 0.7em;
    border-collapse: collapse;
    padding: 20px;
    text-align: left;
    background-color: #ededed;
    box-shadow: 4px 4px 4px #888888;
    cursor: pointer;
}

#bookClass:hover{
    box-shadow: 7px 7px 7px #888888;
}

#bookButton {
    background: #2d7a27;
    margin-top: -2%;
    width: 20%;
    height: 5%;
    float: right;
}

#bookButton:focus {
    outline: 0;
}








