body{
    background-color: #dddddd;
}
.editInfo{
    font-family: 'Open Sans Condensed', arial, sans;
    width: 500px;
    padding: 30px;
    background: #FFFFFF;
    margin: 50px auto;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}
.editInfo input[type="text"],
.editInfo input[type="date"],
.editInfo input[type="datetime"],
.editInfo input[type="email"],
.editInfo input[type="number"],
.editInfo input[type="search"],
.editInfo input[type="time"],
.editInfo input[type="url"],
.editInfo input[type="password"],
.editInfo textarea,
.editInfo select
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ad3232;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}

input[type=button]{
    background-color: #ad3232;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}