.container-footer {
    left: 0;
    bottom: 0;
    overflow: hidden;
    position: absolute;
    padding-bottom: 0%;
    width: 100%;
    height: 3em;
    background-color: white;
    color: white;
}
/*
.container-footer div{
    text-align: left;
}*/

.followUs{
    display: inline-block;
    color: black;
    padding-left: 55%;

}

.followIcons{
    display: inline-block;
    width: 10%;
}

.instagramIcon{
    color: black;
    margin-left: 10%;
    text-decoration: none;
}

.twitterIcon{
    color: black;
    margin-left: 10%;
    text-decoration: none;
}

.snapchatIcon{
    color: black;
    margin-left: 10%;
    text-decoration: none;

}

.facebookIcon{
    color: black;
    margin-left: 10%;
    text-decoration: none;

}


.followIcons a:hover {
    color: #ad3232;
    background-color: transparent;
    text-decoration: none;
}



.copyrightIcon{
    display: inline-block;
    padding-top: 1.5%;
    padding-left: 2%;
    color: black;
}

.phoneIcon{
    display: inline-block;
    padding-left: 2%;
    color:black;
}


