footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

/* FØRSTE SEKSJON */

section.first {
    background: url(sectionImg/frontpicture1.jpg) center center / cover no-repeat;
    /*background: center;
    background-repeat: no-repeat;
    background-size: cover;*/
}

/* Sign up button*/
.newUserBtn {
    display: inline-block;
    border-radius: 10px;
    background-color: #ad3232;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 40px;
    padding: 20px;
    width: 23vw;
    height: 8vw;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    position:absolute;
    bottom: 50px;
    right: 50px;
    outline: 0;
}

.newUserBtn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-size: calc(13px + 1.3vw);
}

.newUserBtn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.newUserBtn:hover span {
    padding-right: 30px;
}

.newUserBtn:hover span:after {
    opacity: 1;
    right: 0;
}

.closeBtn {
    position: absolute;
    margin-left: 34%;
    margin-top: -7%;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: darkgrey;
}

.closeBtn:hover {
    color: #ad3232;
}

/* NEW USER POPUP */

.modalNew {
    display: none;
    position: fixed;
    left: 30%;
    top: 5%;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding-top: 4%;
}

.modal-contentNew {
    margin: auto;
    width: 40%;
    height: 82%;
    display: inline-block;
    border-radius: 10px;
    background-color: white;
    left: 50%;
    box-shadow: 7px 10px 10px #474747;
}

.h1NewUser {
    padding-top: 3%;
    text-align: center;
    text-transform: uppercase;
}

.containerNew {
    padding-top: 0;
    font-family: Arial;
    /*margin-top: 1%;*/
    margin-left: 8%;
}

.containerNew div {
    padding: 0 1% 0.5% 1%;
}

.containerNew input {
    width: 89%;
    padding: 1% 0 1% 1%;
    margin: 2%;
    display: inline-block;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #ccc;
}

.registerBtn {
    display: inline-block;
    border-radius: 10px;
    background-color: #ad3232;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    width: 33.5%;
    height: 8%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 1% 1% 1% 0;
    position:absolute;
}


.registerBtn:hover {
    box-shadow: 2px 4px 15px #474747;
    transition: 0.3s;
}

/* ANDRE SEKSJON */

section.second {
    background: url(sectionImg/frontpicture2.jpg) center center / cover no-repeat;
    padding: 5% 0 0 0;
}

#groupclasses {
    padding-left: 4%;
    padding-top: 7%;
}

.containerClasses {
    margin: auto;
    width: 40%;
    height: 95%;
    display: inline-block;
    border-radius: 10px;
    background: rgba(237, 237, 237, 0.9);
}

#slidecontainer {
    width: 100%;
    margin-left: 1%;
    margin-top: 1%;
}

h1.classesHeader {
    margin-left: 2%;
    opacity: 1;
}

p.intensitySlider {
    font-size: 50%;
    margin-left: 1%;
    margin-top: 4%;
    width: 190%;
}

brp.intensityLevel {
    margin-top: 5%;
    margin-left: 2%;
    font-weight: bolder;
}

.class-container {
    margin-top: 4%;
    font-size: 45%;
}

.class-container:hover .overlay{
    border-radius: 5px;
    height:100%;
}

.slider {
    margin-top: -20%;
    margin-left: 3%;
    -webkit-appearance: none;
    width: 20%;
    height: 15px;
    border-radius: 5px;
    background: #ad3232;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;

}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ad3232;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background:  #ad3232;
    cursor: pointer;
}

.thisClass {
    font-family: Arial;
    border-collapse: collapse;
    width: 90%;
    padding: 2%;
    text-align: left;
    border: 1px solid #bcbcbc;
    cursor: pointer;
    opacity: 1;
    margin: 0.5%;
}

.thisClass:hover {
    background-color: #ba5d5d;
}

/* TREDJE SEKSJON */
section.third{
    background: url(https://media2.s-nbcnews.com/i/newscms/2017_36/2144546/170905-working-out-group-ac-512p_2b5db137b66bedb7f1d96c24b8ca1b8a.jpg) center center / cover no-repeat;
}

.backgroundPicture{
    padding: 5% 0 0 0;
}

h1.bookingHeader{
    margin-top: 12%;
    margin-left: 2%;
    opacity: 1;
}

.containerBooking{
    width: 35%;
    height: 80%;
    display: inline-block;
    border-radius: 10px;
    background: rgba(237, 237, 237, 0.9);
}

.theDates{
    margin-top: 5%;
}

.nextDay {
    margin-right: 2%;
    float: right;
    transform: rotate(-45deg);
    display: block;
    width: 15px;
    height: 15px;

    border: 1px solid black;
    border-width: 0px 4px 4px 0px;
}

.pastDay {
    margin-left: 2%;
    margin-top: -4%;
    float: left;
    transform: rotate(-45deg);
    display: block;
    width: 15px;
    height: 15px;

    border: 1px solid black;
    border-width: 4px 0px 0px 4px;
}

#showDate {
    text-align: center;
    color: black;
    font-size: 30px;
    left: 19.6em;
    cursor: default;
}

#bookClasses {
    text-align: left;
}

#bookClass {
    font-family: Arial;
    margin: 0.7em;
    border-collapse: collapse;
    padding: 20px;
    text-align: left;
    background-color: #ededed;
    box-shadow: 4px 4px 4px #888888;
    cursor: pointer;
}

#bookClass:hover{
    box-shadow: 7px 7px 7px #888888;
}

#bookButton {
    background: #2d7a27;
    margin-top: -2%;
    width: 20%;
    height: 5%;
    float: right;
}

#bookButton:focus {
    outline: 0;
}


/* FJERDE SEKSJON*/

section.fourth {
    background-color: #ededed;
}

.map {
    width: 41%;
    height: 100%;
}

i.marker {
    z-index: 2;
    color: #ad3232;
}

.h1SectionFourth{
    position: absolute;
    right: 31%;
    bottom: -225%;
    text-align: left;
}

.gymInfo{
    position: absolute;
    right: 15%;
    bottom: -275%;
    text-align: left;
}

#gym1Btn {
    position: absolute;
    right: 80%;
    bottom: -236%;
}

#gym2Btn {
    position: absolute;
    right: 90%;
    bottom: -240%;
}

p.p2{
    color: gray;
    font-family: arial;
    display: table-cell;
    left: -20em;
    bottom: -6.7em;
    z-index: 1;
    position: relative;
}

/* Modal Content */
.modal-contentGym {
    margin: auto;
    width: 40%;
    height: 82%;
    display: inline-block;
    border-radius: 10px;
    background-color: white;
    left: 50%;
    box-shadow: 7px 10px 10px #474747;
}


.modalGym1 {
    display: none;
    position: fixed;
    left: 30%;
    top: 5%;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding-top: 4%;
}

.modalGym2 {
    display: none;
    position: fixed;
    left: 30%;
    top: 5%;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding-top: 4%;
}

.gym1 {
    display: block;
    width: 50%;
    height: auto;
}

.modal-contentGym h3 {
    text-align: center;
}

.modal-contentGym p {
    padding:1% 0 0 2%;
}

.closeBtnGym {
    position: absolute;
    margin-left: 37%;
    transition: all 200ms;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: darkgrey;
}

.closeBtnGym:hover {
    color: #ad3232;
}

/* FEMTE SEKSJON */

section.fifth {
    background: url(sectionImg/frontpicture4.jpg) center center / cover no-repeat;
}

/* PRIS */
.h1sectionFifth {
    padding: 4% 0 0 5%;
}

.prices p {
    font-size: 20px;
    margin-left: 6%;
}

.prices h3 {
    margin-left: 6%;
}

.infoPrice {
    margin-top: 5%;
    margin-left: 5%;
    width: 23%;
    height: 75%;
    display: inline-block;
    border-radius: 10px;
    background-color: #ededed;
    opacity: 0.8;
}

/* SJETTE SEKSJON */
.sixth h1 {
    position: absolute;
    right: 24.5%;
    bottom: -425%;
    text-align: left;
    z-index: 2;
}

.aboutPT {
    position: absolute;
    right: 4%;
    bottom: -475%;
    text-align: left;
}

.backgroundPT {
    position: absolute;
    right: 0;
    opacity: 0.8;
    width: 45%;
    height: 100%;
    border-left: solid black 1px;
}

/* PT1 */
.containerTrainers1 {
    padding: 7% 5% 5% 5%;
}

.containerPT1{
    top: 10%;
    border-radius: 5px;
    position: relative;
    background-color: #e0e0e0;
    width: 20%;
    height: 36%;
    box-shadow: 7px 10px 10px #474747;
}

.avatarman1{
    display: block;
    border-radius: 5px 5px 0 0;
    width: 70%;
    padding-top: 5%;
    padding-left: 28%;
    height: auto;
}

.namePT1{
    text-align: center;
}

.contactInfo1 {
    margin-top: 12%;
}

.pinIcon1 {
    text-align: center;
}

.mailAddress1 {
    text-align: center;
    padding-bottom: 5%;
}

.descriptionPT1 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ba5d5d;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.containerPT1:hover .descriptionPT1 {
    border-radius: 5px;
    height:100%;
}

.textPT1 {
    text-align: center;
    padding:2%;
    white-space: nowrap;
    color: black;
    font-size: 16px;
    position: absolute;
    overflow: hidden;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.moreIcon1 {
    position: absolute;
    left: 90%;
    bottom: 5%;
}

/* PT2 */
.containerTrainers2 {
    margin-top: -22.6%;
    padding-left: 30%;
}

.containerPT2{
    top: 10%;
    border-radius: 5px;
    position: relative;
    background-color: #e0e0e0;
    width: 25.5%;
    height: 36%;
    box-shadow: 7px 10px 10px #474747;
}

.avatarman2{
    display: block;
    border-radius: 5px 5px 0 0;
    width: 70%;
    padding-top: 5%;
    padding-left: 28%;
    height: auto;
}

.namePT2 {
    text-align: center;
}

.contactInfo2 {
    margin-top: 12%;
}

.pinIcon2 {
    text-align: center;
}

.mailAddress2 {
    text-align: center;
    padding-bottom: 5%;
}

.descriptionPT2 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ba5d5d;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.containerPT2:hover .descriptionPT2 {
    border-radius: 5px;
    height:100%;
}

.textPT2 {
    text-align: center;
    padding:2%;
    white-space: nowrap;
    color: black;
    font-size: 16px;
    position: absolute;
    overflow: hidden;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.moreIcon2 {
    position: absolute;
    left: 90%;
    bottom: 5%;
}

/* PT3 */
.containerTrainers3 {
    padding: 2% 5% 5% 5%;
}

.containerPT3 {
    top: 10%;
    border-radius: 5px;
    position: relative;
    background-color: #e0e0e0;
    width: 20%;
    height: 36%;
    box-shadow: 7px 10px 10px #474747;
}

.avatarman3 {
    display: block;
    border-radius: 5px 5px 0 0;
    width: 70%;
    padding-top: 5%;
    padding-left: 28%;
    height: auto;
}

.namePT3 {
    text-align: center;
}

.contactInfo3 {
    margin-top: 12%;
}

.pinIcon3 {
    text-align: center;
}

.mailAddress3 {
    text-align: center;
    padding-bottom: 5%;
}

.descriptionPT3 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ba5d5d;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.containerPT3:hover .descriptionPT3 {
    border-radius: 5px;
    height:100%;
}

.textPT3 {
    text-align: center;
    padding:2%;
    white-space: nowrap;
    color: black;
    font-size: 16px;
    position: absolute;
    overflow: hidden;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.moreIcon3 {
    position: absolute;
    left: 90%;
    bottom: 5%;
}

/* PT4 */
.containerTrainers4 {
    margin-top: -22.6%;
    padding-left: 30%;
}

.containerPT4{
    top: 10%;
    border-radius: 5px;
    position: relative;
    background-color: #e0e0e0;
    width: 25.5%;
    height: 36%;
    box-shadow: 7px 10px 10px #474747;
}

.avatarman4 {
    display: block;
    border-radius: 5px 5px 0 0;
    width: 70%;
    padding-top: 5%;
    padding-left: 28%;
    height: auto;
}

.namePT4 {
    text-align: center;
}

.contactInfo4 {
    margin-top: 12%;
}

.pinIcon4 {
    text-align: center;
}

.mailAddress4 {
    text-align: center;
    padding-bottom: 5%;
}

.descriptionPT4 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ba5d5d;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.containerPT4:hover .descriptionPT4 {
    border-radius: 5px;
    height:100%;
}

.textPT4 {
    text-align: center;
    padding:2%;
    white-space: nowrap;
    color: black;
    font-size: 16px;
    position: absolute;
    overflow: hidden;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.moreIcon4 {
    position: absolute;
    left: 90%;
    bottom: 5%;
}

/*Scrollbutton*/
*,
:after,
:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section {
    height: 100vh;
    width: 100%;
    display: table;
}
/* Go to classes */
.scroll-down1 {
    opacity: 1;
    position: absolute;
    bottom: 4%;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    background-size: 14px auto;
    z-index: 1;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.scroll-down1:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 30px;
    height: 30px;
    content: "";
    border: solid white;
    border-width: 0px 0 4px 4px;
}

/* Go to gyms */
.scroll-down2 {
    opacity: 1;
    position: absolute;
    bottom: -96%;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    background-size: 14px auto;
    z-index: 1;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.scroll-down2:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 30px;
    height: 30px;
    content: "";
    border: solid white;
    border-width: 0px 0 4px 4px;
}

/* Go to prices */
.scroll-down3 {
    opacity: 1;
    transition-duration: 3s;
    position: absolute;
    bottom: -196%;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    background-size: 14px auto;
    z-index: 1;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.scroll-down3:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 30px;
    height: 30px;
    content: "";
    border: solid white;
    border-width: 0px 0 4px 4px;
}


/* Go to PT */
.scroll-down4 {
    opacity: 1;
    transition-duration: 3s;
    position: absolute;
    bottom: -296%;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    background-size: 14px auto;
    z-index: 1;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.scroll-down4:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 30px;
    height: 30px;
    content: "";
    border: solid darkgrey;
    border-width: 0px 0 4px 4px;
}

.scroll-down5 {
    opacity: 1;
    transition-duration: 3s;
    position: absolute;
    bottom: -396%;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    background-size: 14px auto;
    z-index: 1;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.scroll-down5:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 30px;
    height: 30px;
    content: "";
    border: solid darkgrey;
    border-width: 0px 0 4px 4px;
}

.scroll-down6 {
    opacity: 1;
    transition-duration: 3s;
    position: absolute;
    bottom: -496%;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    background-size: 14px auto;
    z-index: 1;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.scroll-down6:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 30px;
    height: 30px;
    content: "";
    border: solid darkgrey;
    border-width: 0px 0 4px 4px;
}

@keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    60% {
        -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}







