footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

/* FØRSTE SEKSJON */

#main {
    background: url(sectionImg/frontpicture1.jpg) center center / cover no-repeat;

}

/* Sign up button*/
.newUserBtn {
    display: inline-block;
    border-radius: 10px;
    background-color: #ad3232;
    border: none;
    padding: 20px;
    width: 25vw;
    height: 8vw;
    min-width: 230px;
    min-height: 80px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    position:absolute;
    bottom: 4vw;
    right: 3vw;
    outline: 0;
}

.newUserBtn span {
    font-family: "Heiti TC";
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
    font-size:calc(13px + 1.8vw);
    color: #FFFFFF;

}

.newUserBtn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -2vw;
    transition: 0.5s;
}

.newUserBtn:hover span {
    padding-right: 3vw;
}

.newUserBtn:hover span:after {
    opacity: 1;
    right: 0;
}

.closeBtn {
    cursor: pointer;
    position: absolute;
    margin-left: 34%;
    margin-top: -7%;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: darkgrey;
}

.closeBtn:hover {
    color: #ad3232;
}

/* NEW USER POPUP */

/*background-color: rgb(255,255,255);
background-color: rgba(255,255,255,0.5);*/

.modalNew {
    display: none;
    position: fixed;
    z-index: 3;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.5);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 6%;

}

.modal-contentNew {
    margin: 1% auto 15% 30%;
    width: 40vw;
    min-width: 300px;
    height: 37vw;
    min-height: 350px;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid #888;
    background-color: white;
    left: 50%;
    box-shadow: 7px 10px 10px #474747;
}

.h1NewUser {
    padding-top: 1vw;
    text-align: center;
    text-transform: uppercase;
}

.h1NewUser h1 {
    font-family: "Heiti TC";

}

.containerNew {
    padding-top: 0;
    font-family: "Heiti TC";
    margin-left: 3vw;
}

.containerNew div {
    padding: 0 1% 0.5% 1%;
}

.containerNew input {
    width: 30vw;
    padding: 1% 0 1% 1%;
    margin: 2%;
    display: inline-block;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #ccc;
    font-size: calc(10px + 0.5vw);
}

.registerBtn {
    left: 34.3vw;
    bottom: 5vw;
    border-radius: 10px;
    background-color: #ad3232;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    width: 30vw;
    height: 4vw;
    transition: all 0.5s;
    cursor: pointer;
    margin: 1% 1% 1% 0;
    position:absolute;
}


.registerBtn:hover {
    box-shadow: 2px 4px 15px #474747;
    transition: 0.3s;
}

.closeBtn {
    position: absolute;
    margin-left: 34%;
    margin-top: -7%;
    transition: all 200ms;
    font-size:calc(15px + 2vw);
    font-weight: bold;
    text-decoration: none;
    color: darkgrey;
}

.closeBtn:hover {
    color: #ad3232;
}

/* ANDRE SEKSJON */

section.second {
    background: url(sectionImg/frontpicture2.jpg) center center / cover no-repeat;
    padding: 5% 0 0 0;
}

#groupclasses {
    padding-left: 4%;
    padding-top: 7%;
}

.containerClasses {
    margin: auto;
    width: 39vw;
    height: 41vw;
    min-width: 370px;
    min-height: 420px;
    display: inline-block;
    border-radius: 10px;
    background: rgba(237, 237, 237, 0.9);
}

#slidecontainer {
    width: 100%;
    margin-left: 1%;
    margin-top: 1%;
}

.classesHeader {
    font-family: "Heiti TC";
    margin-left: 2%;
    font-size:calc(16px + 1.3vw);
}

.intensitySlider {
    font-size:calc(12px + 0.6vw);
    margin-left: 1%;
    margin-top: 4%;
    width: 190%;
}

brp.intensityLevel {
    margin-top: 5%;
    margin-left: 2%;
    font-weight: bolder;
}

.class-container {
    margin-top: 4%;
    font-size: 45%;
}

.class-container:hover .overlay{
    border-radius: 5px;
    height:100%;
}

.slider {
    margin-top: -20%;
    margin-left: 3%;
    -webkit-appearance: none;
    width: 20%;
    height: 15px;
    border-radius: 5px;
    background: #ad3232;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ad3232;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background:  #ad3232;
    cursor: pointer;
}

.thisClass {
    font-family: "Heiti TC";
    border-collapse: collapse;
    width: 90%;
    padding: 2%;
    text-align: left;
    border: 1px solid #bcbcbc;
    cursor: pointer;
    opacity: 1;
    margin: 0.5%;
}

.thisClass:hover {
    background-color: #ba5d5d;
}

/* TREDJE SEKSJON */
section.third {
    background-color: #ededed;
}

.h1SectionThree{
    position: absolute;
    width: 100%;
    left: 45%;
    top: 220%;
    text-align: left;
}

.h1SectionThree h1 {
    font-family: "Heiti TC";
    font-size: calc(16px + 1.5vw);
}

.gymInfo{
    font-family: "Heiti TC";
    position: absolute;
    width: 45vw;
    left: 45%;
    top: 235%;
    text-align: left;
    word-break: keep-all;
}

.gymInfo pre {
    font-family: "Heiti TC";
    font-size: calc(5px + 1vw);
}

.box {
    position: absolute;
    right: 4.2em;
    bottom: -83.9em;
    background-color: white;
    padding: 20px;
    height: 100%;
    width: 90%;
}

.gymInfo p {
    font-size: calc(12px + 0.2vw);
    word-break: keep-all;
}

.map {
    width: 42vw;
    height: 53vw;
}

.gymMap i {
    z-index: 2;
    color: #ad3232;
}

#gym1Btn {
    cursor: pointer;
    position: absolute;
    right: 80%;
    bottom: -136%;
}

#gym2Btn {
    cursor: pointer;
    position: absolute;
    right: 90%;
    bottom: -140%;
}

p.p2{
    color: gray;
    font-family: "Heiti TC";
    display: table-cell;
    left: -20em;
    bottom: -6.7em;
    z-index: 1;
    position: relative;
}

/* Modal Content */
.modal-contentGym {
    margin: auto;
    width: 40%;
    height: 82%;
    display: inline-block;
    border-radius: 10px;
    background-color: white;
    left: 50%;
    box-shadow: 7px 10px 10px #474747;
    word-break: keep-all;
}


.modalGym1 {
    display: none;
    position: fixed;
    z-index: 3;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.5);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.modalGym2 {
    display: none;
    position: fixed;
    z-index: 3;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.5);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

/* Modal Content */
.modal-contentGym {
    font-family: "Heiti TC";
    margin: 6% auto 15% 30%;
    width: 40%;
    height: 80%;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid #888;
    background-color: white;
    box-shadow: 7px 10px 10px #474747;
}

img.gym1 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.gym1 {
    display: block;
    width: 50%;
    height: auto;
}

.modal-contentGym h3 {
    font-family: "Heiti TC";
    text-align: center;

}

.modal-contentGym p {
    padding:1% 0 0 2%;
}

.modal-contentGym hr {
    margin: 0 5% 2% 5%;
    text-align: center;
    border-top: 1px solid #888888;
}

.closeBtnGym {
    position: absolute;
    margin-left: 38%;
    transition: all 200ms;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    color: darkgrey;
    cursor: pointer;
}

.closeBtnGym:hover {
    color: #ad3232;
}

/* FJERDE SEKSJON */
section.fourth {
    background: url(sectionImg/frontpicture4.jpg) center center / cover no-repeat;
}

/* PRIS */
.h1sectionFour {
    padding: 2% 0 0 5%;
}

.h1sectionFour h1 {
    font-family: "Heiti TC";
    font-size: 3.5vw;
}

.prices h3 {
    font-family: "Heiti TC";
    margin-left: 6%;
    font-size: 2vw;
}

.prices p {
    font-family: "Heiti TC";
    font-size: 1.5vw;
    margin-left: 6%;
}

.informationGyms {
    width: 40%;
}

.infoPrice {
    margin-top: 7%;
    margin-left: 5%;
    min-width: 26vw;
    min-height: 37vw;
    display: inline-block;
    border-radius: 10px;
    background-color: #ededed;
    opacity: 0.8;
}

/* FEMTE SEKSJON */
#PTinformation h1 {
    font-family: "Heiti TC";
    position: absolute;
    right: 6.5%;
    bottom: -335%;
    text-align: left;
    z-index: 1;
    width: 35vw;
    height: 5vw;
    font-size:calc(20px + 1.5vw);
}

.aboutPT {
    font-family: "Heiti TC";
    position: absolute;
    bottom: -375%;
    right: 6.5%;
    top: 435%;
    text-align: left;
    word-break: keep-all;
    width: 35vw;
    height: 30vw;
    font-size: calc(10px + 0.4vw);
}

.aboutPT pre {
    font-family: "Heiti TC";
}

.backgroundPT {
    position: absolute;
    right: 0;
    opacity: 0.8;
    width: 45%;
    height: 100%;
    border-left: solid black 1px;
}

/* PT1 */
.containerTrainers1 {
    padding: 6% 5% 5% 5%;
}


.containerPT1{
    top: 10%;
    border-radius: 5px;
    position: relative;
    background-color: #e0e0e0;
    width: 18vw;
    height: 18vw;
    box-shadow: 7px 10px 10px #474747;
    border: 1px solid #888;
}

.avatarman1{
    display: block;
    border-radius: 5px 5px 0 0;
    width: 13vw;
    padding-top: 5%;
    padding-left: 28%;
    height: auto;
}

.namePT1{
    font-family: "Heiti TC";
    text-align: center;
}

.contactInfo1 {
    margin-top: 12%;
}

.pinIcon1 {
    text-align: center;
}

.mailAddress1 {
    text-align: center;
    padding-bottom: 5%;
}

.descriptionPT1 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ba5d5d;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.containerPT1:hover .descriptionPT1 {
    border-radius: 5px;
    height:100%;
}

.textPT1 {
    font-family: "Heiti TC";
    text-align: center;
    padding:2%;
    white-space: nowrap;
    color: black;
    font-size: 16px;
    position: absolute;
    overflow: hidden;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.moreIcon1 {
    position: absolute;
    left: 90%;
    bottom: 5%;
}

/* PT2 */
.containerTrainers2 {
    margin-top: -23%;
    padding-left: 30%;
}

.containerPT2{
    top: 10%;
    border-radius: 5px;
    position: relative;
    background-color: #e0e0e0;
    width: 18vw;
    height: 18vw;
    box-shadow: 7px 10px 10px #474747;
    border: 1px solid #888;
}

.avatarman2{
    display: block;
    border-radius: 5px 5px 0 0;
    width: 13vw;
    padding-top: 5%;
    padding-left: 28%;
    height: auto;
}

.namePT2 {
    font-family: "Heiti TC";
    text-align: center;
}

.contactInfo2 {
    margin-top: 12%;
}

.pinIcon2 {
    text-align: center;
}

.mailAddress2 {
    text-align: center;
    padding-bottom: 5%;
}

.descriptionPT2 {
    font-family: "Heiti TC";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ba5d5d;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.containerPT2:hover .descriptionPT2 {
    border-radius: 5px;
    height:100%;
}

.textPT2 {
    text-align: center;
    padding:2%;
    white-space: nowrap;
    color: black;
    font-size: 16px;
    position: absolute;
    overflow: hidden;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.moreIcon2 {
    position: absolute;
    left: 90%;
    bottom: 5%;
}

/* PT3 */
.containerTrainers3 {
    padding: 2% 5% 7% 5%;
}

.containerPT3 {
    top: 10%;
    border-radius: 5px;
    position: relative;
    background-color: #e0e0e0;
    width: 18vw;
    height: 18vw;
    box-shadow: 7px 10px 10px #474747;
    border: 1px solid #888;
}

.avatarman3 {
    display: block;
    border-radius: 5px 5px 0 0;
    width: 13vw;
    padding-top: 5%;
    padding-left: 28%;
    height: auto;
}

.namePT3 {
    font-family: "Heiti TC";
    text-align: center;
}

.contactInfo3 {
    margin-top: 12%;
}

.pinIcon3 {
    text-align: center;
}

.mailAddress3 {
    text-align: center;
    padding-bottom: 5%;
}

.descriptionPT3 {
    font-family: "Heiti TC";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ba5d5d;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.containerPT3:hover .descriptionPT3 {
    border-radius: 5px;
    height:100%;
}

.textPT3 {
    text-align: center;
    padding:2%;
    white-space: nowrap;
    color: black;
    font-size: 16px;
    position: absolute;
    overflow: hidden;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.moreIcon3 {
    position: absolute;
    left: 90%;
    bottom: 5%;
}

/* PT4 */
.containerTrainers4 {
    margin-top: -25%;
    padding-left: 30%;
}

.containerPT4{
    top: 10%;
    border-radius: 5px;
    position: relative;
    background-color: #e0e0e0;
    width: 18vw;
    height: 18vw;
    box-shadow: 7px 10px 10px #474747;
    border: 1px solid #888;
}

.avatarman4 {
    display: block;
    border-radius: 5px 5px 0 0;
    width: 13vw;
    padding-top: 5%;
    padding-left: 28%;
    height: auto;
}

.namePT4 {
    font-family: "Heiti TC";
    text-align: center;
}

.contactInfo4 {
    margin-top: 12%;
}

.pinIcon4 {
    text-align: center;
}

.mailAddress4 {
    text-align: center;
    padding-bottom: 5%;
}

.descriptionPT4 {
    font-family: "Heiti TC";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ba5d5d;
    background-repeat: no-repeat;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.containerPT4:hover .descriptionPT4 {
    border-radius: 5px;
    height:100%;
}

.textPT4 {
    text-align: center;
    padding:2%;
    white-space: nowrap;
    color: black;
    font-size: 16px;
    position: absolute;
    overflow: hidden;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.moreIcon4 {
    position: absolute;
    left: 90%;
    bottom: 5%;
}

/*Scrollbutton*/
*,
:after,
:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

section {
    height: 100vh;
    width: 100%;
    display: table;
}
/* Go to classes */
.scroll-down1 {
    opacity: 1;
    position: absolute;
    bottom: 4%;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    background-size: 14px auto;
    z-index: 1;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.scroll-down1:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 30px;
    height: 30px;
    content: "";
    border: solid white;
    border-width: 0px 0 4px 4px;
}

/* Go to gyms */
.scroll-down2 {
    opacity: 1;
    position: absolute;
    bottom: -96%;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    background-size: 14px auto;
    z-index: 1;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.scroll-down2:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 30px;
    height: 30px;
    content: "";
    border: solid white;
    border-width: 0px 0 4px 4px;
}

/* Go to prices */
.scroll-down3 {
    opacity: 1;
    transition-duration: 3s;
    position: absolute;
    bottom: -196%;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    background-size: 14px auto;
    z-index: 1;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.scroll-down3:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 30px;
    height: 30px;
    content: "";
    border: solid darkgrey;
    border-width: 0px 0 4px 4px;
}


/* Go to PT */
.scroll-down4 {
    opacity: 1;
    transition-duration: 3s;
    position: absolute;
    bottom: -296%;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    background-size: 14px auto;
    z-index: 1;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.scroll-down4:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 30px;
    height: 30px;
    content: "";
    border: solid darkgrey;
    border-width: 0px 0 4px 4px;
}

/* Go to Booking */
.scroll-down5 {
    opacity: 1;
    transition-duration: 3s;
    position: absolute;
    bottom: -396%;
    left: 50%;
    margin-left: -16px;
    display: block;
    width: 32px;
    height: 32px;
    background-size: 14px auto;
    z-index: 1;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.scroll-down5:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 30px;
    height: 30px;
    content: "";
    border: solid darkgrey;
    border-width: 0px 0 4px 4px;
}

@keyframes bounce {
    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }
    60% {
        -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}


/* SEKSJON 6 */
#booking {
    background: url(sectionImg/frontpicture6.jpg) center center / cover no-repeat;
}

.bookingHeader h1{
    font-family: "Heiti TC";
    font-weight: bolder;
    margin-top: 3%;
    margin-left: 2%;
    opacity: 1;
}

.containerBooking{
    margin-top: 6%;
    margin-left: 2%;
    width: 35%;
    height: 80%;
    display: inline-block;
    border-radius: 10px;
    background: rgba(237, 237, 237, 0.9);
}

.theDates{
    font-family: "Heiti TC";
    margin-top: 5%;
    margin-left: 22%;
}

.pastDay {
    cursor: pointer;
    margin-left: -2%;
    margin-top: -9%;
    float: left;
    transform: rotate(-45deg);
    display: block;
    width: 15px;
    height: 15px;

    border: 1px solid black;
    border-width: 4px 0px 0px 4px;
}

.nextDay {
    cursor: pointer;
    margin-right: 25.5%;
    margin-top: 3.2%;
    float: right;
    transform: rotate(-45deg);
    display: block;
    width: 15px;
    height: 15px;

    border: 1px solid black;
    border-width: 0px 4px 4px 0px;
}

#showDate {
    text-align: center;
    color: black;
    font-size: 30px;
    left: 19.6em;
    cursor: default;
}

#bookClasses {
    text-align: left;
}

#bookClass {
    font-family: "Heiti TC";
    margin: 0.7em;
    border-collapse: collapse;
    padding: 20px;
    text-align: left;
    background-color: #ededed;
    box-shadow: 4px 4px 4px #888888;
    /*cursor: pointer;*/
}

#bookClass:hover{
    box-shadow: 7px 7px 7px #888888;
}

#bookButton {
    cursor: pointer;
    background: #2d7a27;
    margin-top: -1%;
    width: 25%;
    height: 5%;
    float: right;
}

#bookButton:focus {
    outline: 0;
}




