body {
    background-color: #d8d8d8;
    top: 33em;
}



#myReservations {
    color: black;
    font-size: 30px;
    position: absolute;
    top: 4em;
    left: 19.6em;
    cursor: default;
}

#reservations {
    margin-top: 11em;
    margin-left: 21%;
    text-align: left;
    width: 50%;
}

#reservation {
    top: 10em;
    font-family: Arial;
    margin: 0.7em;
    border-collapse: collapse;
    width: 100%;
    padding: 20px;
    text-align: left;
    background-color: #ededed;
    box-shadow: 4px 4px 4px #888888;
    cursor: pointer;
}

#reservation:hover{
    box-shadow: 7px 7px 7px #888888;
}

#deleteReservation {
    background: #2d7a27;
    margin-top: -2%;
    width: 20%;
    float: right;
}


#deleteReservation:focus {
    outline: 0;
}
