body {
    background-color: #d8d8d8;
}

.myReservations {
    width: 35%;
    height: 80%;
    display: inline-block;
    border-radius: 10px;
    background: rgba(237, 237, 237, 0.9);
}

#reservations {
    text-align: left;
}

#reservation {
    font-family: Arial;
    margin: 0.7em;
    border-collapse: collapse;
    padding: 20px;
    text-align: left;
    background-color: #ededed;
    box-shadow: 4px 4px 4px #888888;
    cursor: pointer;
}

#reservation:hover{
    box-shadow: 7px 7px 7px #888888;
}

#deleteReservation {
    background: red;
    margin-top: -2%;
    width: 20%;
    height: 5%;
    float: right;
}


#deleteReservation:focus {
    outline: 0;
}
