.avatarman{
    display: block;
    border-radius: 5px 5px 0 0;
    width: 50%;
    padding-left: 25%;
    height: auto;
}

.containerPT{
    top: 10%;
    border-radius: 5px;
    position: relative;
    background-color: #cccccc;
    width: 25%;
}

.namePT{
    text-align: center;
}



.pinIcon{
    text-align: center;

}

.mailAddress{
    text-align: center;
    padding-bottom: 5%;

}


.descriptionPT{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #888888;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.containerPT:hover .descriptionPT{
    border-radius: 5px;
    height:100%;
}

.textPT{
    white-space: nowrap;
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

#more{
    position: absolute;
    left: 90%;
    bottom: 5%;

}
