#mainLogedIn {
    background: url(sectionImg/frontpicture1.1.jpg) center center / cover no-repeat;
}

/*STATISTIKK*/
#statistics {
    margin-top: 15%;
    margin-left: 2%;
    width: 40%;
    height: 45%;
    border-radius: 10px;
    background-color: white;
    left: 50%;
    opacity: 0.9;
    min-width: 502px;
}


#chart_div{
    position: sticky;
    left: 1%;
    padding-top: 4%;

}

/* ENDRE INFO */
.endreInfoBtn {
    display: inline-block;
    border-radius: 10px;
    background-color: #ad3232;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 40px;
    padding: 3%;
    width: 26%;
    height: 8%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    position:relative;
    left: 20.3em;
    top: -10em;
}

.endreInfoBtn h3 {
    font-family: "Heiti TC";
    margin: auto;
    display: block;
    position: relative;
    transition: 0.5s;
}

.endreInfoBtn h3:after {
    position: absolute;
    opacity: 0;
    top: 0;
    transition: 0.5s;
}

.endreInfoBtn:hover h3  {
    font-size: 33px;
}


.endreInfoBtn:hover {
    opacity: 0.8;
}

.modal-editInfo {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    padding-top: 5%;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.5);
}

.modal-contentInfo {
    font-family: "Heiti TC";
    font-weight: bold;
    margin: 1% auto 15% 30%;
    width: 40%;
    height: 85%;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid #888;
    background-color: white;
    left: 50%;
    box-shadow: 7px 10px 10px #474747;
}

.containerInfo {
    font-family: "Heiti TC";
    margin-top: 1%;
    margin-left: 8%;
}

.containerInfo h1 {
    font-family: "Heiti TC";
}

.containerInfo label {
    font-weight: normal;
}

.containerInfo input {
    width: 90%;
    padding: 1% 5% 1% 1%;
    margin: 2%;
    display: inline-block;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #ccc;
    font-size: medium;
}

.containerInfo div {
    margin-top: 3%;
    font-weight: normal;
}


.editPswBtn:hover {
    box-shadow: 2px 4px 15px #474747;
    transition: 0.3s;
}

.containerInfo h1 {
    margin-left: 19%;
    font-weight: normal;
}

.containerInfo .updateBtn, .editPswBtn {
    text-decoration: none;
    color: white;
    background-color: #ad3232;
    cursor: pointer;
    font-family: "Heiti TC";
    width: 40%;
    padding: 3% 5%;
    margin-left: 3%;
    margin-top: 5%;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
}

.updateBtn:hover {
    box-shadow: 2px 4px 15px #474747;
    transition: 0.3s;
}

/* TRENINGSPROGRAM */
.workoutProgBtn {
    display: inline-block;
    border-radius: 10px;
    background-color: #ad3232;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 40px;
    padding: 3%;
    width: 26%;
    height: 16.9%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    position:absolute;
    left: 20.25em;
    top: 7em;
}

.workoutProgBtn h3 {
    font-family: "Heiti TC";
    margin: auto;
    display: block;
    position: relative;
    transition: 0.5s;
}

.workoutProgBtn h3:after {
    /*content: '\00bb';*/
    position: absolute;
    opacity: 0;
    top: 0;
    transition: 0.5s;
}

.workoutProgBtn:hover h3 {
    font-size: 33px;
}

.workoutProgBtn:hover {
    opacity: 0.8;
}

.modal-woProg {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    padding-top: 6%;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.5);
}

.modal-content-woProg {
    margin: 1% auto 15% 30%;
    width: 40%;
    height: 82%;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid #888;
    background-color: white;
    left: 50%;
    box-shadow: 7px 10px 10px #474747;
}

.modal-content-woProg h1 {
    padding: 3%;
    font-family: "Heiti TC";
    text-align: center;
    font-weight: normal;

}

.programBox {
    z-index: 3;
    margin-top: -1%;
    margin-left: 5%;
    min-width: 36vw;
    min-height: 25vw;
    display: inline-block;
    background-color: rgb(255,255,255);
    background-color: rgba(150,150,150,0.1);
}

.prog1, .prog2, .prog3  {
    z-index: 4;
    height: 2%;
    width: 90%;
    background-color: #ad3232;
    color: white;
    font-family: "Heiti TC";
    padding: 5%;
    margin: 4% auto 4% auto;
    text-align: center;
    text-decoration: none;
    display: block;
    border-radius: 10px;
}

.prog1:hover {
    box-shadow: 2px 4px 15px #474747;
    transition: 0.3s;
}

.prog2:hover {
    box-shadow: 2px 4px 15px #474747;
    transition: 0.3s;
}

.prog3:hover {
    box-shadow: 2px 4px 15px #474747;
    transition: 0.3s;
}

/* MINE BOOKINGER */
#reservation {
    font-family: "Heiti TC";
    margin: 0.7em;
    border-collapse: collapse;
    padding: 20px;
    text-align: left;
    background-color: #ededed;
    box-shadow: 4px 4px 4px #888888;
}

#reservation:hover{
    box-shadow: 7px 7px 7px #888888;
}

#deleteReservation {
    background: #ad3232;
    margin-top: -2%;
    width: 20%;
    height: 5%;
    float: right;
}

#deleteReservation:focus {
    outline: 0;
}


.modal-reserv h1 {
    font-family: "Heiti TC";
    text-align: center;
}

.modal-reserv {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    padding-top: 6%;
    padding-right: 1%;
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255,0.5);
}

.modal-content-reserv {
    margin: 1% 10% auto 29%;
    width: 43%;
    height: 82%;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid #888;
    background-color: white;
    left: 50%;
    box-shadow: 7px 10px 10px #474747;
}

#deleteReservation {
    width: 25%;
    margin-top: 0%;
    cursor: pointer;
}

.reservationBtn {
    display: inline-block;
    border-radius: 10px;
    background-color: #ad3232;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 40px;
    padding: 3%;
    width: 26%;
    height: 16.9%;
    transition: all 0.5s;
    margin: 5px;
    position:absolute;
    left: 20.3em;
    top: 11.5em;
    cursor: pointer;
}

.reservationBtn h3 {
    font-family: "Heiti TC";
    margin: auto;
    display: block;
    position: relative;
    transition: 0.5s;
}

.reservationBtn h3:after {
    position: absolute;
    opacity: 0;
    top: 0;
    transition: 0.5s;
}

.reservationBtn:hover h3 {
    font-size: 33px;
}

.reservationBtn:hover {
    opacity: 0.8;
}

/*LUKK POPUP-KNAPPER*/
/*Endre bruker*/
#closePop {
    position: absolute;
    margin-left: 34%;
    margin-top: -1%;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: darkgrey;
    cursor: pointer;
}

#closePop:hover {
    color: #ad3232;
}

/*Treningsprogram*/
#closePop2 {
    font-family: "Heiti TC";
    position: absolute;
    margin-left: 37%;
    margin-top: 0%;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: darkgrey;
 }

#closePop2:hover {
    color: #ad3232;
}

/*Reservasjoner*/
#closePopRes {
    position: absolute;
    margin-left: 37%;
    margin-top: 0%;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    font-family: "Heiti TC";
    text-decoration: none;
    color: darkgrey;
    cursor: pointer;
}

#closePopRes:hover {
    color: #ad3232;
}


/*ENDRE PASSORD*/
.modal-editPsw {
    display: none;
    position: fixed;
    left: 30%;
    top: 4%;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding-top: 4%;
}
.modal-contentPsw {
    width: 40%;
    height: 83%;
    display: inline-block;
    border-radius: 10px;
    border: 1px solid #888;
    background-color: white;
    left: 50%;
    box-shadow: 7px 10px 10px #474747;
}

.containerPsw {
    font-family: "Heiti TC";
    margin-top: 1%;
    margin-left: 8%;
    font-weight: normal;
}

.containerPsw h1 {
    font-family: "Heiti TC";
}

.containerPsw label {
    font-weight: bolder;
}

.containerPsw input {
    width: 90%;
    padding: 1% 5% 1% 1%;
    margin: 2%;
    display: inline-block;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #ccc;
    font-size: medium;
}

.containerPsw div {
    margin-top: 5%;
}

.containerPsw h1 {
    font-weight: normal;
    margin-left: 19%;
    margin-top: 1.7%;

}

.savePsw {
    display: inline-block;
    border-radius: 10px;
    background-color: #ad3232;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    width: 33.5%;
    height: 8%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 2% 1% 1% 0;
    position:absolute;
}


.savePsw:hover {
    box-shadow: 2px 4px 15px #474747;
    transition: 0.3s;
}


/* LUKK ENDRE PASSORD*/
#closePsw {
    position: absolute;
    margin-left: 34%;
    margin-top: -1%;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: darkgrey;
}

#closePsw:hover {
    color: #ad3232;
}

#closePopRes {
    position: absolute;
    margin-left: 37%;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: darkgrey;
}

#closePopRes:hover {
    color: #ad3232;
}

