html
    head
        link(rel='stylesheet', href='/stylesheets/header.css')
    body
        .navbar
            if user
                a(class="active" href='/logout' style="float:right") Logg ut
                a(href='/edituser') Rediger
            else
                //a(class="active" href='/login' style="float:right") Logg inn
                a(class="active" style="float:right" onclick="document.getElementById('id01').style.display='block'") Logg inn
        #id01.modal
            span.close(onclick="document.getElementById('id01').style.display='none'", title='Close Modal') &times;
            form.modal-content.animate(action='/login')
                .imgcontainer
                    img.avatar(src='images/running_login.jpg', alt='Avatar')
                div.container
                    label(for = "email") E-postadresse
                    input(type='text', placeholder='Skriv inn e-post', name='email', required='')

                    label(for = "password") Passord
                    input(type="password" placeholder="Skriv inn passord" name="password" required='')

                    button(type="submit") Logg inn

                    button.cancelbtn(type = "button", onclick="document.getElementById('id01').style.display='none'") Avbryt

                script.
                    var modal = document.getElementById('id01');

                    window.onclick = function (event) {
                        if (event.target == modal) {
                            modal.style.display = "none";
                        }
                    }


