html
    head
        link(rel='stylesheet', href='/stylesheets/header.css')
        link(rel='stylesheet', href='/stylesheets/alerts.css')
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        script(type="text/javascript", src="js/jquery-3.2.1.js")
    body
        .navbar
            if user
                a(href="/#mainLogedIn")#logo ATLETA
            else
                a(href="/#main")#logo ATLETA
            a.scroll-classes(href="/#groupclasses") Gruppetimer
            a.scroll-gyms(href="/#gyms") Sentre
            a.scroll-prices(href='/#information') Priser
            a.scroll-PT(href="/#PTinformation") Personlig Trener
            if user
                a.scroll-booking(href="/#booking") Timeplan


            if user
                a(class="active" href='/logout') Logg ut
                a(href='/' id="userName") #{user.fname +' ' + user.sname}
            else
                a(class="active" style="float:right" onclick="document.getElementById('loginForm').style.display='block'") Logg inn

        #loginForm.modal-LoginPopup
            form.modal-content-login.animate(action='/login' method="POST")
                .imgcontainer-login
                    img.loginpicture(src='images/running_login.jpg', alt='Avatar')
                .containerLoginForm
                    a.closeBtnLog#closeLog &times

                    label(for = "email")
                    input(class="input-text", type='text', name='email', required='', placeholder="Skriv inn e-postadressen")

                    label(for = "password")
                    input(class="input-text", type="password" placeholder="Skriv inn passord" name="password" required='')


                    button.loginBtn#logIn(type="submit") Logg inn



        script
            include ../../public/js/loggIn.js




