html
    head
        link(rel='stylesheet', href='/stylesheets/header.css')
    body
        .navbar
            if user
                a(class="active" href='/logout' style="float:right") Logg ut
                a(href='/edituser') Rediger
            else
                a(class="active" style="float:right" onclick="document.getElementById('id01').style.display='block'") Logg inn
        #id01.modal
            form.modal-content.animate(action='/login' method="POST")
                .imgcontainer
                    img.avatar(src='images/running_login.jpg', alt='Avatar')
                div.container
                    label(for = "email")
                    input(class="input-text", type='text', name='email', required='', placeholder="Skriv inn e-postadressen")

                    label(for = "password")
                    input(class="input-text", type="password" placeholder="Skriv inn passord" name="password" required='')

                    button(type="submit") Logg inn
                    button.cancelbtn(type = "button", onclick="document.getElementById('id01').style.display='none'") Avbryt

                script.
                    var modal = document.getElementById('id01');

                    window.onclick = function (event) {
                        if (event.target == modal) {
                            modal.style.display = "none";
                        }
                    }


