html
    head
        link(rel='stylesheet', href='/stylesheets/header.css')
    body
        .navbar
            if user
                a(class="active" href='/logout' style="float:right") Logg ut
                a(href='/edituser') Rediger
            else
                a(class="active" href='/login' style="float:right") Logg inn
