html
    head
        link(rel='stylesheet', href='/stylesheets/header.css')
    body
        .navbar
            a(class="active" href='/login' style="float:right") Logg inn
            a(href='/edituser') Rediger