html
    head
        link(rel='stylesheet', href='/stylesheets/header.css')
    body
        .navbar
            a(href="/#main") ATLETA
            a(href="/booking") Timeplan
            a(href="/pt") Personlig Trener
            a.scroll-gyms(href="/#gyms") Sentre

            if user
                a(class="active" href='/logout') Logg ut
                a(href='/userPage' id="userName") #{user.fname +' ' + user.sname}
            else
                a(class="active" style="float:right" onclick="document.getElementById('loginForm').style.display='block'") Logg inn

        #loginForm.modal-LoginPopup
            form.modal-content-login.animate(action='/login' method="POST")
                .imgcontainer-login
                    img.avatar(src='images/running_login.jpg', alt='Avatar')
                .containerLoginForm
                    label(for = "email")
                    input(class="input-text", type='text', name='email', required='', placeholder="Skriv inn e-postadressen")

                    label(for = "password")
                    input(class="input-text", type="password" placeholder="Skriv inn passord" name="password" required='')


                    button.loginBtn(type="submit") Logg inn
                    button.cancelBtn(type = "button", onclick="document.getElementById('loginForm').style.display='none'") Avbryt






